name: Test Wadm

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04]
        nats_version: [2.10.22]

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Install latest Rust stable toolchain
        uses: dtolnay/rust-toolchain@1ff72ee08e3cb84d84adba594e0a297990fc1ed3 # stable
        with:
          toolchain: stable
          components: clippy, rustfmt

      # Cache: rust
      - uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6 # v2.7.8
        with:
          key: '${{ matrix.os }}-rust-cache'

      - name: Check that Wadm JSON Schema is up-to-date
        shell: bash
        run: |
          cargo run --bin wadm-schema
          if [ $(git diff --exit-code > /dev/null) ]; then
            echo 'Wadm JSON Schema is out of date. Please run `cargo run --bin wadm-schema` and commit the changes.'
            exit 1
          fi
      
      - name: install wash
        uses: taiki-e/install-action@c07504cae06f832dc8de08911c9a9c5cddb0d2d3 # v2.56.13
        with:
          tool: wash@0.38.0

      # GH Actions doesn't currently support passing args to service containers and there is no way
      # to use an environment variable to turn on jetstream for nats, so we manually start it here
      - name: Start NATS
        run: docker run --rm -d --name wadm-test -p 127.0.0.1:4222:4222 nats:${{ matrix.nats_version }} -js

      - name: Build
        run: |
          cargo build --all-features --all-targets --workspace

      # Make sure the wadm crate works well with feature combinations
      # The above command builds the workspace and tests with no features
      - name: Check wadm crate with features
        run: |
          cargo check -p wadm --no-default-features
          cargo check -p wadm --features cli
          cargo check -p wadm --features http_admin
          cargo check -p wadm --features cli,http_admin

      # Run all tests
      - name: Run tests
        run: |
          cargo test --workspace -- --nocapture
